<h1>Bienvenido a la tienda de Postres</h1>

<div class="card w-75" style="margin:0 auto">
    <h5 class="card-header">Todos los Carritos</h5>
    <div class="card-body" id="allCarts">
        <table class="table table-hover">
            <tbody id="cartList">
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary" style="text-align:right;">
        <button type="button" class="btn btn-warning" id="newCart">Nuevo Carrito</button>
    </div>
</div>

<script type="text/javascript" src="/static/js/allCarts.js"></script>